

.issueCard{
border:1 px solid black;
margin: 1rem;
padding:2rem;
background-color: wheat;
cursor: pointer;
gap:2rem
}

.label-tags{
    border: 1px solid green;
    border-radius:50%;
    color:white;
    padding:1rem;
    margin: 0.5rem;
}